*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F77F00;
}

.container{
    background-color: #FFB05C;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}
h2{
    background: linear-gradient(45deg, #8a2387, #e94057, #f27121);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

form{
    margin: 2rem 0 1rem 0;
}

form select,button, input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid lightgray;
    height: 3rem;
    font-size: 1rem;
    padding-left: 0.5rem;
    background-color: bisque;
}

.dropdown{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 2rem;
}

.dropdown i {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.swap-icon {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}
.swap-icon:hover {
  transform: rotate(180deg);
}


.select-container img{
    max-width: 2rem; 
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    
}

.select-container select{
    font-size: 1rem;
    width: auto;
    background-color: bisque;
}

.msg{
    margin: 2rem 0 2rem 0;
}

form button {
  height: 3rem;
  background-color: #734B5E;
  color: #fff;
  font-size: 1.15rem;
  cursor: pointer;
}

form button:hover{
    opacity: 0.5;
}